body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #D1D1E0;
    color: #e0e0e0;
  }
  
  input, button {
    font-family: inherit;
  }
  
  button {
    cursor: pointer;
  }
  